<div class="flex items-center justify-center">
  An account is required &nbsp
  <.link class="font-semibold text-brand hover:underline" href={~p"/users/register"} method="get">
    Register
  </.link>
  &nbsp
  or
  &nbsp
  <.link class="font-semibold text-brand hover:underline" href={~p"/users/log_in"}>Log In</.link>
</div>
